{% extends 'base.html' %}
{% load static %}
{% block weather %}
    <div class="col-md-auto">

    <div class="margin-b-30">

        <h1 class="text-center">
                Текущая погода
            </h1>
        <p class="section-seperator margin-b-50"></p>
    </div>

                    {% for info in all_info %}
                        <div style="display:inline-block">
                            <div class="alert alert-info" style="text-align: center; width:200px; height:125px">
                                <div class="col-9">
                                    {{info.city}}<br>
                                    <b>{{info.temp}}<sup>o</sup>C</b><br>
                                    <div class="col-2 offset-1">
                                        <img src="http://openweathermap.org/img/w/{{info.icon}}.png" alt="Фото погоды">
                                    </div>
                                    </div>
                            </div>
                        </div>
                    {% endfor  %}
                </div>

{% endblock %}